body * {
  box-sizing: border-box;
  color: #000;
  font-family: 'Inter';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.media-container {
  display: grid;
  grid-template-columns: repeat(2, 487px); 
  grid-template-rows: repeat(4, 61px);
  column-gap: 48px;
  row-gap: 30px;
}

.media {
  max-width: 487px;
  min-width: 300px;
  width: 100%;
  height: 61px;
  flex-grow: 1;
}

.main-container {
  max-width: 1022px;
}

.big-media {
  width: 100%;
  height: 168px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.header {
  height: 101px;
  margin-bottom: 40px;
}

.header, .aside, .media, .big-media, .line, .send-button {
  background-color: #D9D9D9;
}

.aside {
  width: 203px;
  flex: 0 1 auto;
}

.aside-main-container {
  display: flex;
  gap: 86px;
}

.line {
  height: 3px;
  width: 100%;
  border: none;
  margin-bottom: 20px;
}

.controls {
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
}

.your-comment-container, .comment-container {
  display: flex;
  width: 100%;
}

.message-info {
  display: flex;
  justify-content: space-between;
}

.message {
  height: 61px;
  max-width: 688px;
  width: 100%;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.20);
  padding-left: 30px;
  padding-right: 20px;
}

.message:focus {
  outline: none;
}

.send-button {
  width: 213px;
  height: 61px; 
  border-radius: 5px;
  color: #A1A1A1;
  border: none;
  justify-self: end;
  align-self: flex-end;
}

.input-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}

.form {
  width: 100%;
  margin-left: 18px;
}

.comments-section {
  display: flex;
  flex-direction: column;
}

.avatar img {
  border-radius: 50%;
  overflow: hidden; /* Это свойство скроет углы изображения за пределами круга. */
  width: 61px; /* Установите желаемую ширину и высоту */
  height: 61px; /* Установите желаемую ширину и высоту */
}

.label-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 688px;
}

.label {
  align-self: flex-end;
  margin-bottom: 20px;
  font-size: 14px;
  font-style: italic;
}

.user-name-mobile {
  display: none;
}

.user-name {
  color: #122AC0;
  font-weight: 500;
}

.comment-info-mobile {
  display: none;
}

.comment-info-container {
  margin-left: 18px;
}

.comment-container {
  margin-top: 40px;
}

.time {
  margin-left: 15px;
  color: #000;
  font-size: 14px;
}

.comment {
  margin-top: 10px;
}

.reply-button-in-favorites-container {
  margin-top: 15px;
  display: flex;
}

.reply-button {
  margin-right: 18.75px;
  border: none;
  background: none;
}

.reply-button-container, .in-favorites-container {
  display: flex;
  gap: 7px;
  align-items: center;
}

.comments-button-container {
  display: flex;
  gap: 13px;
  border-bottom: 3px solid #000;
  max-width: 187px;

}

.comments-button {
  border: none;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: none;
  padding-left: 0;
  padding-right: 0;
}

.number-of-comments {
  align-self: center;
}

.sort, .favorites, .label, .reply-button, .in-favorites, .number-of-comments, .time, .whom {
  color: #A1A1A1;
}

.sort, .favorites {
  font-size: 16px;
  text-decoration-line: underline;
}

.sort {
  margin-right: 4px;
}

.favorites {
  margin-left: 50px;
  margin-right: 9.5px;
}

.time {
  align-self: center;
}

.sort-favorites-container {
  display: flex;
  align-items: center; 
}

.sort-container, .favorites-container, .in-favorites-container {
  display: flex;
  align-items: center;
}

.user-name-reply-whom-container {
  display: flex;
  flex-direction: column;
}

.user-name-reply-whom-container img {
  width: 26px;
  height: 25px;
}

.reply-whom {
  display: flex;
  margin-left: 13px;
  gap: 13px;
}

.comment-info-desktop {
  display: flex;
}

